.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0007;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #eee;
    padding: 1.5em 1em;
    max-width: 700px;
}